{%- assign crumbs = page | breadcrumbsFilter: name, navigationParent, parent, categories, collections, property, parentGuideCategory -%}
{%- if crumbs.size > 0 -%}
<ol class="breadcrumbs" aria-label="Breadcrumb">
  {%- for crumb in crumbs -%}
  <li>
    {%- unless forloop.first -%}<span class="separator" aria-hidden="true">/</span>{%- endunless -%}
    {%- if crumb.url -%}
    <a href="{{ crumb.url }}{{ config.internal_link_suffix }}">{{ crumb.label }}</a>
    {%- else -%}
    <span aria-current="page">{{ crumb.label }}</span>
    {%- endif -%}
  </li>
  {%- endfor -%}
</ol>
{%- endif -%}
