<noscript><p>JavaScript is required to submit this form.</p></noscript>
{%- assign _form_target = form_target_override | default: config.form_target -%}
{%- if _form_target and _form_target != "" -%}
  {%- include "form-open.html" -%}
    {%- include "form-email-config.html",
        redirect_path: "/thank-you/",
        email_from_suffix: "contact form",
        email_subject: "New message from {site_name} website contact form"
    -%}
    {%- include "form-fields.html", fields: fields_override -%}
    <button type="submit">{{ contactForm.submitButtonText }}</button>
  </form>
{%- else -%}
  {%- include "formspark-missing.html" -%}
{%- endif -%}
