{%- comment -%}
Shared filter options list - used by item-filter.html
Parameters:
  - options: Array of { value, url, active, filterKey, filterValue, filterKeyLabel, filterValueLabel } objects
{%- endcomment -%}
<ul>
  {%- for option in options -%}
  <li{% if option.active %} class="active"{% endif %}>
    <a href="{{ option.url }}" data-filter-key="{{ option.filterKey }}" data-filter-value="{{ option.filterValue }}" data-filter-key-label="{{ option.filterKeyLabel }}" data-filter-value-label="{{ option.filterValueLabel }}">{{ option.value }}</a>
  </li>
  {%- endfor -%}
</ul>
