<label for="{{ field.name }}"{% if field.fieldClass %} class="{{ field.fieldClass }}"{% endif %}>
  {{ field.label }}
  <input
    type="{% if field.type %}{{ field.type }}{% else %}text{% endif %}"
    id="{{ field.name }}"
    name="{{ field.name }}"
    placeholder="{% if field.defaultFromPageTitle %}{{ pageTitle }}{% else %}{{ field.placeholder }}{% endif %}"
    {%- if field.defaultFromPageTitle %} value="{{ pageTitle }}"{% endif %}
    {%- if field.required %} required{%- endif %}
  />
  {%- include "form-field-note.html" -%}
</label>
