{%- if config.cart_mode and item.data.cart_attributes -%}
  {%- unless item.data.has_single_cart_option -%}
    <a href="{{ item.url }}{{ config.internal_link_suffix }}" class="button">Select Options</a>
  {%- else -%}
    {%- include "templates/add-to-cart-button.html",
        cart_attributes: item.data.cart_attributes,
        btn_text: item.data.cart_btn_text,
        show_quantity: item.data.show_cart_quantity_selector,
        max_quantity: item.data.options.first.max_quantity -%}
  {%- endunless -%}
{%- endif -%}
