<template id="{{ selectors.IDS.QUOTE_PRICE }}">
  <ul class="quote-price">
    <li>
      <ul>
        <li><strong>Your Quote</strong></li>
        <li><small data-field="item-count"></small></li>
      </ul>
    </li>
    <li>
      <ul data-field="items"></ul>
    </li>
    <li>
      <ul data-field="details"></ul>
    </li>
    <li>Hire length: <span data-field="hire-length"></span></li>
    <li class="total">
      Estimated total: <span data-field="total"></span>
    </li>
    {%- include "quote-footer.html" -%}
  </ul>
</template>

<template id="{{ selectors.IDS.QUOTE_PRICE_ITEM }}">
  <li>
    <span data-field="name"></span>
    <span data-field="price"></span>
  </li>
</template>

<template id="{{ selectors.IDS.QUOTE_PRICE_DETAIL }}">
  <li>
    <span data-field="key"></span>
    <span data-field="value"></span>
  </li>
</template>
